body {
background-color: var(--minfargevariabel);
font-style: var(--minfontkursiv);
font-family: var(--minfontstil);
}

#div1 {
width: 100vw;
display: flex;
justify-content: flex-end;
text-decoration: none;
}

:root {
--minfargevariabel: blanchedalmond;
--minfontkursiv: italic;
--minfontstil: Georgia, Times, 'Times New Roman', serif;
}

.cards {
background-color:brown;
color: white;
font-family:Verdana, Geneva, Tahoma, sans-serif; 
font-style: oblique;
border-radius: 5px;
box-shadow: 0 0 10px rgb(255, 255, 0);
}

.cards:hover {
background-color:blueviolet;
color: rgb(255, 247, 0);
font-style:normal;
font-size:x-large;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.bilder {
width: 100%;
display: flex;
justify-content:space-around
}